{% extends 'base.html.twig' %}

{% block title %}My Cellar{% endblock %}

{% block body %}
    <main id="cave">
        {# Formulaire de filtrage #}
        <div class="filter-form">
            {{ form_start(form) }}
                    {{ form_row(form.name) }}
                    {{ form_row(form.year) }}
                    {{ form_row(form.regions) }}
                <button class="btn btn-primary" type="submit">Filtrer</button>
            {{ form_end(form) }}
        </div>
        {# Affichage des vins filtrés #}
    {# <ul>
        {% for bouteille in pagination %}
            <li>
                <a href="{{path('app_wine_cave', {id: bouteille.id})}}">{{bouteille.name}}</a>
            </li>
            {% endfor %}
    </ul> #}
        <section id="liste">
            <div class="cards">
            {% for bouteille in pagination %}
                <div class="card">
                    
                    <h2>{{ bouteille.name }}</h2>
                    <p>{{ bouteille.year }}</p>
                    <p>{{ bouteille.grapes }}</p>
                    <p>{{ bouteille.region.name }}</p>
                    <p>{{ bouteille.country.name }}</p>
                    
                    <!-- Description courte -->
                    <p id="bouteille-description-{{ bouteille.id }}">
                        {{ bouteille.description|slice(0, 100) }}... 
                        <button onclick="toggleDescription({{ bouteille.id }})">Expand</button>
                    </p>

                    <!-- Description complète -->
                    <p id="bouteille-description-full-{{ bouteille.id }}" style="display:none;">
                        {{ bouteille.description }}
                        <button onclick="toggleDescription({{ bouteille.id }})">Reduce</button>
                    </p>
                    <div class="actions">
                    {% if is_granted("ROLE_USER", "ROLE_ADMIN") %}
                        <a class="add" href="{{ path('add_wine_to_cave', {'id': bouteille.id}) }}">Add to cellar</a> 
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') or (app.user and app.user.id == bouteille.user.id) %}
                        <a class="modifier" href="{{ path('app_wine_change', {'id': bouteille.id}) }}">Modifier</a>
                        <form method="POST" onsubmit="return confirm('Confirmer la suppression?')" action="{{ path('delete_wine', {'id': bouteille.id}) }}">
                            <input type="hidden" name="_method" value="delete">
                            <input type="hidden" name="_token" value="{{ csrf_token('SUP' ~ bouteille.id) }}">
                            <button class="supprimer">Supprimer</button>
                        </form>
                    {% endif %}
                    </div>         
                </div>
                
            {% endfor %}
            </div>
        </section>
        <div class="pagination">
  {{ knp_pagination_render(pagination) }}
</div>
    </main> 

    <script>
        function toggleDescription(bouteilleId) {
            var fullDescription = document.getElementById('bouteille-description-full-' + bouteilleId);
            var shortDescription = document.getElementById('bouteille-description-' + bouteilleId);
            
            if (fullDescription.style.display === 'none') {
                fullDescription.style.display = 'block';
                shortDescription.style.display = 'none';
            } else {
                fullDescription.style.display = 'none';
                shortDescription.style.display = 'block';
            }
        }
    </script>
{% endblock %}
