{% extends 'base.html.twig' %}

{% block title %}The Cellar{% endblock %}

{% block body %}
    <main id="cave-details">
        {# <h1>Cave de {{ cave.User.Username }}</h1> #}
        <a href="{{ path('user_caves') }}" class="btn">Back to users' cellars.</a>
       
        {% if cave == null %}
            <p>You do not have a cellar yet.</p>
            {{ form_start(addCellar, {'attr': {'class': 'register-form'}}) }}
            <div class="form-group">
                {{ form_label(addCellar.name) }}
                {{ form_widget(addCellar.name, {'attr': {'class': 'input'}}) }}
            </div>
            <button class="submit-button">add</button>
            {{ form_end(addCellar) }}

        {% elseif cave.bouteilles %}
            <p>You do not have bottles in your cellar.</p>
            <a href="">Add a bottle</a>
            
        {% else %}
        <p>hello</p>
            <div class="bouteille-list">
                {% for bouteille in cave.bouteilles %}
                    <article class="bottle">
                        <img src="{{ asset('uploads/images/' ~ bouteille.imageName) }}" alt="Image de {{ bouteille.name }}">
                        <h2>{{ bouteille.name }}</h2>
                        <p>Année : {{ bouteille.year }}</p>
                        <p>Cépages : 
                            {% for cepage in bouteille.cepages %}
                                {{ cepage.name }}{% if not loop.last %}, {% endif %}
                            {% endfor %}
                        </p>
                        <p>Région : {{ bouteille.regions.name }}, {{ bouteille.regions.country.name }}</p>
                    </article>
                {% endfor %}
            </div>
        {% endif %}
        
    </main>
{% endblock %}
