<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Cave{% endblock %}</title>
    <link rel="icon" type="image/png" href="{{ asset('favicon-96x96.png') }}" sizes="96x96" />

    {{ encore_entry_script_tags('app') }}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
    {% endblock %}
</head>
<body>
    <nav>
        <div class="logoTop">
            <a href=""><img src="{{ asset('images/logo.png') }}" alt="logo site"></a>
        </div>

        <ul class="nav-list" id="nav-list">
            {% if not is_granted('ROLE_USER') %}
                <li><a href="{{ path('app_login') }}">Log In</a></li>
                <li><a href="{{path('inscription') }}">Register</a></li>
            {% else %}
                <li><a href="{{ path('app_logout') }}">Log Out</a></li>
            {% endif %}
            
            <li><a href="{{ path('home') }}">Home</a></li>
            <li><a href="{{ path('my_cellar') }}">My cellar</a></li>
            <li><a href="{{ path('user_caves') }}">All Wine Cellars</a></li>
            <li><a href="{{ path('app_wine_cave') }}">La Cave</a></li>


            {% if is_granted('ROLE_ADMIN') %}
                <li><a href="{{ path('admin') }}">Admin</a></li>
            {% endif %}
        </ul>
    </nav>
    {% block body %}{% endblock %}

    <footer>
        <div class="b_logo">
            <img src="{{ asset('images/logo.png') }}" alt="logo site">
        </div>
        <ul>
            <li><a href="#">Legal Mentions</a></li>
            <li><a href="#">Confidentiality Policy</a></li>
            <li><a href="#">Terms of Use</a></li>
        </ul>
        <ul>
            <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
        </ul>
        <ul>
            <li><p>© 2025 My Cave. All rights applied.</p></li>
        </ul>
    </footer>

</body>
</html>